.Dictionary section {
    background: #ececec;
    padding: 30px;
    border-radius: 8px;
    margin: 20px 0;
    box-shadow: 3px 5px 5px rgba(129, 192, 140, 0.355);
}

.Dictionary input {
    width: 100%;
    padding: 6px 10px;
    color: #333;
    border: 1px solid #ddd;
}

.Dictionary .hint {
    font-size: 11px;
    margin-top: 5px;
}

.Dictionary h1 {
    font-size: 24px;
}
